
<!-- footer -->
<footer>
    <div class="footer-content">
        <ul class="footer-menu">
               <li><a href="../../index.html">首页</a></li>
               <li><a href="../../info.html">详细介绍</a></li>
               <li><a href="../../show.html">作品展示</a></li>
               <li><a href="../../result.html">队伍信息</a></li>
               <li><a href="../../apply.html">报名参赛</a></li>
            <!-- <li class="rss-feed"><a href="#">RSS Feed</a></li> -->
        </ul>

        <p class="footer-text">Copyright 2013 All Rights Reservered.</p>
    </div>

</footer>

</body>
</html>