<?php include_once("config.php"); global $SITE_ROOT, $CSS_ROOT, $JS_ROOT, $IMAGE_ROOT, $MAIN_PAGE_PATH;?>
<!-- footer -->
<footer>
    <div class="footer-content">
        <ul class="footer-menu">
               <li><a href="<?php echo $MAIN_PAGE_PATH; ?>?p=index">首页</a></li>
               <li><a href="<?php echo $MAIN_PAGE_PATH; ?>?p=info">详细介绍</a></li>
               <li><a href="<?php echo $MAIN_PAGE_PATH; ?>?p=result">队伍信息</a></li>
               <li><a href="<?php echo $MAIN_PAGE_PATH; ?>?p=apply">报名参赛</a></li>
            <!-- <li class="rss-feed"><a href="#">RSS Feed</a></li> -->
        </ul>

        <p class="footer-text">Copyright 2013 All Rights Reservered.</p>
    </div>

</footer>

</body>
</html>