<!-- content-wrap -->
<div class="content-wrap">

    <!-- main -->
  <section id="main">

        <div class="intro-box">
           <h1>Enjoy Your Hack Day!</h1>

           <p class="intro">Hack Day是一项技术活动，它能够将开发者、设计师等有创意的人聚集在一起，大家共同做出一些很酷的东西。在全世界范围内，有各种各样的公司和组织在举办类似的活动。在Hackday活动期间，参赛者们会打乱在日常工作生活中的原有分工，组成一个个新团队，开始做一些朴实、保守亦或新奇、疯狂的产品。<br/>本次西电软院科协将携手豌豆荚，无论你是程序员、设计师或是“IT小白”，只要你富有创新精神并善于团队合作，只要你疯狂于代码，你就是“Hack Star” ！</p>

        </div>

        <div class="slider-wrapper">

            <div id="slider" class="nivoSlider">
                <img src="./images/slides/slide1.png" width="383" height="198" alt="" />
                <img src="./images/slides/slide2.png" width="383" height="198" alt="" />
                <img src="./images/slides/slide3.png" width="383" height="198" alt="" title="#htmlcaption"/>
            </div>
        </div>

        <div class="row no-bottom-margin">

            <section class="col">
                <h2>团队</h2>

                <p>爱说啥说啥</p>
            </section>
            <section class="col mid">
                <h2>项目</h2>

                <p>想写啥写啥</p>
            </section>

            <section class="col">
                <h2>时间</h2>
                <p>2013年11月15日-11月17日</p>
            </section>
        </div>
        <a class="back-to-top" href="#main">Back to Top</a>
      </section>

      <!-- services -->
      <!-- portfolio -->
    <div class="inner_copyright">Collect from <a href="http://www.cssmoban.com/" target="_blank" title="网站模板">网站模板</a></div>
      <!-- about us -->
      <!-- Styles -->
      <!-- contact -->
</div>