<!-- content-wrap -->
<div class="content-wrap">

		<!-- main -->
	<section id="main">

				<div class="intro-box">
					<h1>Enjoy Your Hack Day!</h1>
					<p class="intro">24小时，挑战自我！</p>
					<p class="intro">西电软院科协x豌豆荚<br/>给你一个实现创意的平台！</p>

				</div>

				<div class="slider-wrapper">

						<div id="slider" class="nivoSlider">
								<img src="images/slides/sssta logo.png" width="383" height="198" alt="" />
								<img src="images/slides/hack.png" width="383" height="198" alt="" />
								<img src="images/slides/peans.jpg" width="383" height="198" alt="" title="#htmlcaption"/>
						</div>
				</div>

				<div class="row no-bottom-margin">

						<section class="col">
								<h2>平台</h2>

								<p>Android/iOS/Web/...</p>
						</section>
						<section class="col mid">
								<h2>地点</h2>

								<p>西安电子科技大学 新校区 G楼3层机房</p>
						</section>

						<section class="col">
								<h2>时间</h2>
								<p>2013年11月15日-11月17日</p>
						</section>
				</div>
				<a class="back-to-top" href="#main">Back to Top</a>
			</section>

			<!-- services -->
			<!-- portfolio -->
		<div class="inner_copyright">Collect from <a href="http://www.cssmoban.com/" target="_blank" title="网站模板">网站模板</a></div>
			<!-- about us -->
			<!-- Styles -->
			<!-- contact -->
</div>