<div class="content-wrap">
	<section id="services" >
		<h1>简介</h1>
		<div class="row no-bottom-margin">
			<section class="col" id="main" name="main">
				<h2>Hackday简介</h2>
					<p>Hack Day是一项技术活动，它能够将开发者、设计师和有创意的人聚集在一起，大家共同做出一些很酷的东西。在全世界范围内，有各种各样的公司和组织在举办类似的活动。在Hackday活动期间，参赛者们会打乱在日常工作生活中的原有分工，组成一个个新团队，开始做一些朴实、保守亦或新奇、疯狂的产品。</p>
					<p>本次西电软院科协将携手豌豆荚，无论你是程序员、设计师或是“IT小白”，只要你富有创新精神并善于团队合作，只要你用疯狂于代码，你就是“Hack Star”！</p>	
				
				<h2>时间</h2>
					<p>2013年11月15日-11月17日</p>

				<h2>地点</h2>
					<p>西安电子科技大学 新校区 G楼3层机房</p>

				<h2>比赛规则</h2>
					<h3>品提交规则</h3>
						<p>以小队为单位，每个队伍人数为2-4人
						每个团队在开发时间结束前提交一份作品，平台、内容不限<br/>
						比赛严禁剽窃他人作品，一旦发现取消比赛资格</p>
					<h3>评审规则<h3>
						<p>由邀请的老师、来到西电的一位豌豆、西安GDG Manager 谢凌等人及西电优秀学生开发者担任评委<br/>
						评分由评委评分（50%）和队伍环评（50%）构成，计算总成绩，颁发相应奖励</p>

				<h2>奖项设定</h2>
					<p>最佳作品奖，奖金4000元或等价格奖品<br/>
					最佳技术奖，奖金2000元或等价格奖品<br/>
					最佳设计奖，奖金2000元或等价格奖品<br/>
					最佳创意奖，奖金2000元或等价格奖品<br/>
					参与奖，每人纪念T恤一份<p/>

				<h2>活动其他说明</h2>
					<p>我们为参赛队伍提供一日三餐以及零食、饮用水<br/>
					我们为Hackday创建了一个“经纪人”体系。经纪人均为西电软院科协的同学。每个经纪人会负责2-3只队伍的饮食起居，技术支持，疑问解答。<br/>我们设定“经纪人”也是为了更好地了解相关队伍的情况，快速解决问题。</p>
			</section>
		</div>
		<a class="back-to-top" href="#main">Back to Top</a>
	</section>
	<div class="inner_copyright">Collect from <a href="http://www.cssmoban.com/" target="_blank" title="网站模板">网站模板</a></div>
</div>